<script src="javascripts/dropdown.js"></script>
<script src="javascripts/search.js"></script>
<script src="javascripts/numbersOnly.js"></script>
<script>
  $(document).ready(function () {
    $('#example').DataTable(
      {
        searching: false, 
        // paging: false, 
        // info: false
      }
    );
  });
</script>
</body>
</html>
